
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Chronicle Education Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="~/Areas/Admin/Asset/jquery-3.3.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Asset/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/Asset/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Asset/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/Asset/css/font-awesome.css" rel="stylesheet">
    <!-- gallery desoslide -->
    <link rel="stylesheet" href="~/Asset/css/animate.min.css">
    <link rel="stylesheet" href="~/Asset/css/jquery.desoslide.css">
    <!-- gallery desoslide -->
    <link href="~/Asset/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Asset/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- easy-responsive-tabs css -->
    <link rel="stylesheet" href="~/Asset/css/easy-responsive-tabs.css" type="text/css" media="all" />
    <!-- shop css -->
    <link href="~/Asset/css/checkout.css" type="text/css" rel="stylesheet" media="all">
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
    <!-- flexslider-css -->
    <link rel="stylesheet" href="~/Asset/css/flexslider.css" type="text/css" media="screen" />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        @RenderPage("_Menu.cshtml")
        <!-- //navbar ends here -->
        @RenderBody()
        <!-- footer-layouts -->
        <!-- //footer-layouts -->
        @RenderPage("_footer.cshtml")
    </div>
    <!-- //home -->
    <!-- js -->
    <script src="~/Asset/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="~/Asset/js/main.js"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="~/Asset/js/minicart.js"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- gallery desoslide -->
    <script src="~/Asset/js/jquery.desoslide.min.js"></script>
    <script src="~/Asset/js/demo.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="~/Asset/js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- start-smooth-scrolling -->
    <script src="~/Asset/js/move-top.js"></script>
    <script src="~/Asset/js/easing.js"></script>
    <!-- cart-js -->
    <script src="~/Asset/js/minicart.js"></script>
    <script>
		chr.render();

		chr.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
    </script>
    <!-- //cart-js -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- start-smooth-scrolling -->
    <script src="~/Asset/js/move-top.js"></script>
    <script src="~/Asset/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/Asset/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- about bottom grid Numscroller -->
    <script src="~/Asset/js/numscroller-1.0.js"></script>
    <!-- //about bottom grid Numscroller -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Asset/js/bootstrap.js"></script>
    <!-- easy-responsive-tabs -->
    <script src="~/Asset/js/easy-responsive-tabs.js"></script>
    <script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
    </script>

    <!-- //easy-responsive-tabs -->

    <!-- credit-card -->
    <script src="~/Asset/js/creditly.js"></script>
    <link rel="stylesheet" href="~/Asset/css/creditly.css" type="text/css" media="all" />

    <script>
		$(function () {
			var creditly = Creditly.initialize(
				'.creditly-wrapper .expiration-month-and-year',
				'.creditly-wrapper .credit-card-number',
				'.creditly-wrapper .security-code',
				'.creditly-wrapper .card-type');

			$(".creditly-card-form .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
    </script>

    <!-- zoom -->
    <script src="~/Asset/js/imagezoom.js"></script>
    <!-- zoom-->
    <!-- single -->
    <!-- FlexSlider -->
    <script src="~/Asset/js/jquery.flexslider.js"></script>
    <script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider1').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
    </script>
    <!-- //FlexSlider-->
</body>

</html>
