
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="index.html">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a href="about.html">About us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->
<!-- about -->
<!-- //about ends here -->
<!-- about bottom -->
<!--//about bottom ends here-->
<!-- team -->
<div id="team" class="team section">
    <div class="team-container">
        <div class="team-row">
            <!-- team grid1 -->
            <div class="col-md-5 team-grid-left">
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="~Asset/images/t3.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>John Smith</h4>
                        <span>Designation</span>
                        <p>vallis molestie arcu morbi dapibus suscipit ante sit efficitur eu ante vesti.</p>

                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text">
                        <h4>Thomson Doe</h4>
                        <span>Designation</span>
                        <p>vallis molestie arcu morbi dapibus suscipit ante sit efficitur eu ante vesti.</p>
                    </div>
                    <div class="team-effect">
                        <img src="~Asset/images/t1.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <!-- //team individual grid -->
                </div>
            </div>
            <!-- //team-grid1 ends here-->
            <!--team-grid2 -->
            <div class="col-md-2 col-sm-2 team-mid-txt text-center">
                <span>our</span>
                <h5>t</h5>
                <h5>e</h5>
                <h5>a</h5>
                <h5>m</h5>
            </div>
            <!--//team-grid2 ends here-->
            <!-- team grid3 -->
            <!-- team individual grid -->
            <div class="col-md-5 team-grid-right">
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-text">
                        <h4>Smith Kevin</h4>
                        <span>Designation</span>
                        <p>vallis molestie arcu morbi dapibus suscipit ante sit efficitur eu ante vesti.</p>
                    </div>
                    <div class="team-effect">
                        <img src="~Asset/images/t2.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- //team individual grid -->
                <!-- team individual grid -->
                <div class="col-md-6 col-sm-6 col-xs-6 team-grids">
                    <div class="team-effect">
                        <img src="~Asset/images/t4.jpg" alt="img" class="img-responsive">
                        <div class="social-icon">
                            <a href="#" class="social-button twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-button facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-button google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Laura Hill</h4>
                        <span>Designation</span>
                        <p>vallis molestie arcu morbi dapibus suscipit ante sit efficitur eu ante vesti.</p>
                    </div>
                </div>
                <!-- //team individual grid -->
                <div class="clearfix"> </div>
            </div>
            <!-- //team grid3 -->
            <div class="clearfix"> </div>
        </div>
        <!-- //team-row ends here -->
    </div>
    <!-- // team container ends here -->
</div>
<!-- //team -->
<!-- gallery -->
<div id="section_demo" class="section">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">the library</span>
            <span class="abtext">gallery</span>
        </h4>
        <div class="row">
            <!-- Result 1 -->
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div id="slideshow_1_thumbs_1" class="col-lg-2 col-md-2">
                        <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline text-center">
                            <li>
                                <a href="~Asset/images/l3.jpg">
                                    <img src="~Asset/images/lt3.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l2.jpg">
                                    <img src="~Asset/images/lt2.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l5.jpg">
                                    <img src="~Asset/images/lt5.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l4.jpg">
                                    <img src="~Asset/images/lt4.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="slideshow1" class="col-lg-8 col-md-8"></div>
                    <div id="slideshow_1_thumbs_2" class="col-lg-2 col-md-2">
                        <ul class="slideshow1_thumbs desoslide-thumbs-vertical list-inline">
                            <li>
                                <a href="~Asset/images/l1.jpg">
                                    <img src="~Asset/images/lt1.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l6.jpg">
                                    <img src="~Asset/images/lt6.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l7.jpg">
                                    <img src="~Asset/images/lt7.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="~Asset/images/l8.jpg">
                                    <img src="~Asset/images/lt8.jpg" alt="chronicle_image" data-desoslide-caption-title="Library Gallery" class="img-responsive">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
